<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>빈 페이지 | ㅇㅇㅇ</title>
  <link rel="stylesheet" href="../board/css/setting.css">
  <link rel="stylesheet" href="../board/css/plugin.css">
  <link rel="stylesheet" href="../board/css/template.css">
  <link rel="stylesheet" href="../board/css/common.css">
  <link rel="stylesheet" href="../board/css/style.css">
</head>

<body>
  <main class="th-layout-main ">
    <!-- [S]opilsol-N27 -->
    <div class="opilsol-N27" data-bid="JcLTGSDv4I">
      <div class="content-container">
        <div class="contents-form container-md">
          <div class="contents-form-top d-flex justify-content-between">
            <h3 class="inputset-tit">게시판 작성</h3>
            <span class="req">필수 선택입니다.</span>
          </div>
          <div class="contents-form tableset">
            <div class="tableset-inner">
             <form action="../board/insert_ok">
              <table class="tableset-table table">
                <colgroup>
                  <col>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <th>
                      <label class="req label" for="Name">이름</label>
                    </th>
                    <td>
                      <div class="inputset">
                        <input type="text" class="inputset-input form-control" id="Name" placeholder="이름을 입력해주세요" aria-label="이름" name="name">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <label class="req label" for="Title">제목</label>
                    </th>
                    <td colspan="3">
                      <div class="inputset">
                        <input type="text" class="inputset-input form-control" id="Title" aria-label="제목" name="subject">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <label class="req label" for="Inquiry">문의내용</label>
                    </th>
                    <td colspan="3">
                      <div class="inputset">
                        <textarea class="inputset-input form-control textarea" id="Inquiry" aria-label="문의내용" style="height: 200px !important;" name="content"></textarea>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <label class="req label" for="pwd">비밀번호</label>
                    </th>
                    <td colspan="3">
                      <div class="inputset">
                        <input type="password" class="inputset-input form-control" id="pwd" aria-label="비밀번호" name="pwd">
                      </div>
                    </td>
                  </tr>
                  <tr style="display: inline-block;">
                   <td align="right" colspan="4" style="border-bottom:0 !important;">
                    <div>
                     <input type="submit" value="등록하기" class="insertBtn"/>
                     </div>
                    </td>
                  </tr>
                </tbody>
                
              </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N27 -->
  </main>
  <script src="../board/js/setting.js"></script>
  <script src="../board/js/plugin.js"></script>
  <script src="../board/js/template.js"></script>
  <script src="../board/js/common.js"></script>
  <script src="../board/js/script.js"></script>
</body>