<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<bean id="ds" class="com.sist.dao.MyDataSource" 
	p:driver="oracle.jdbc.driver.OracleDriver"
	p:url="jdbc:oracle:thin:@localhost:1521:XE"
	p:username="hr"
	p:password="happy"
	/>
	<bean id="dao" class="com.sist.dao.EmpDAO" c:ds-ref="ds"></bean>
	
	<bean id="aspect" class="com.sist.aop.DBAspect" p:dao-ref="dao"></bean>
	
	<!-- 공통적인 소스를 모아서 자동 호출이 가능하게 만든다
	     공통모듈 => AOP
	 -->
	 <aop:config>
	   <aop:aspect ref="aspect">
	      <aop:before method="before"
	        pointcut="execution(* com.sist.dao.EmpDAO.emp*(..))"
	      />
	      <aop:after method="after" pointcut="execution(* com.sist.dao.EmpDAO.emp*(..))"/>
	      
	       <aop:after-returning method="afterReturning" pointcut="execution(* com.sist.dao.EmpDAO.emp*(..))" returning="obj"/>
	       
	       <aop:after-throwing method="afterThrowing" pointcut="execution(* com.sist.dao.EmpDAO.emp*(..))" throwing="ex"/>
	       <aop:around method="around" pointcut="execution(* com.sist.dao.EmpDAO.emp*(..))"/>
	   </aop:aspect>
	 </aop:config>
	

</beans>
