<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.BoardMapper">
  <select id="boardListData" resultType="BoardVO" parameterType="int">
    SELECT no,subject,name,DATE_FORMAT(regdate,'%Y-%m-%d') as dbday,hit
    FROM board
    ORDER BY no DESC
    LIMIT #{start},10
  </select>
  <select id="boardTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0) FROM board
  </select>
  <insert id="boardInsert" parameterType="BoardVO">
   INSERT INTO board(name,subject,content,pwd) 
   VALUES(#{name},#{subject},#{content},#{pwd})
  </insert>
  <update id="hitIncrement" parameterType="int">
   UPDATE board SET 
   hit=hit+1
   WHERE no=#{no}
  </update>
  <select id="boardDetailData" resultType="BoardVO" parameterType="int">
    SELECT no,name,subject,content,DATE_FORMAT(regdate,'%Y-%m-%d') as dbday,hit
    FROM board
    WHERE no=#{no}
  </select>
  
  <select id="boardGetPassword" resultType="String" parameterType="int">
    SELECT pwd
    FROM board
    WHERE no=#{no}
  </select>
  
  <update id="boardUpdateData" parameterType="BoardVO">
    UPDATE board SET name=#{name},content=#{content},subject=#{subject} WHERE no=#{no}
  </update>
</mapper>